<nav class="mb-4">
	<div class="d-flex justify-content-center gap-2">
		<button class="btn btn-success rounded-pill" routerLink="">Back</button>
		<button class="btn btn-secondary rounded-pill" (click)="editNote()">
			{{ isEditing ? 'Save' : 'Edit' }}
		</button>
		<button class="btn btn-danger rounded-pill" (click)="deleteOneNote()">
			Delete
		</button>
	</div>
</nav>

<div class="container">
	@if (note) {
	<div class="row justify-content-center">
		<div class="card mb-3">
			<div class="card-body">
				<div class="card-title">
					@if(isEditing) { Title:
					<input
						type="text"
						[(ngModel)]="note.title"
						class="card-text form-control"
					/>
					} @if(!isEditing) {
					<span>{{ note.title }}</span>
					}
				</div>
				<div class="card-title">
					@if(isEditing) { Description:
					<textarea
						type="text"
						[(ngModel)]="note.description"
						class="card-text form-control"
					></textarea>
					} @if(!isEditing) {
					<span>{{ note.description }}</span>
					}
				</div>
			</div>
		</div>
	</div>
	} @if(notificationMessage) {
	<div class="notification text-center">
		{{ notificationMessage }}
	</div>
	}
</div>

<app-confirm-modal #confirmModal></app-confirm-modal>
