<nav class="mb-4">
	<div class="d-flex justify-content-center gap-2">
		<button class="btn btn-success rounded-pill" routerLink="/new">Add new Note</button>
		<button class="btn btn-danger rounded-pill" (click)="deleteAll()">Delete All</button>
	</div>
</nav>

<div class="container">
	<div class="justify-content-center">
		@for (note of notes; track $index) {
			<div class="card mb-3" [routerLink]="['/note', note.id]" style="cursor: pointer">
				<div class="card-body">
					<h5 class="card-title fw-bold">{{ note.title }}</h5>
				</div>
			</div>
		}
	</div>
	@if (notificationMessage) {
		<app-notification class="notification text-center">
			{{ notificationMessage }}
		</app-notification>
	}
</div>

<app-confirm-modal #confirmModal></app-confirm-modal>
