<div class="container">
	<nav>
		<button class="btn btn-success" routerLink="/new">Add new Note</button>
		<button class="btn btn-danger" (click)="deleteAll()">Delete All</button>
	</nav>
	<ul class="list-group">
		@for (note of notes; track $index) {
		<li class="list-group-item mb-3" [routerLink]="['/note', note.id]">
			<div class="note-title">{{ note.title }}</div>
			<div class="note-description" style="white-space: pre-wrap">
				{{ note.description }}
			</div>
		</li>
		}
	</ul>
</div>

@if(notificationMessage) {
<div class="notification">
	{{ notificationMessage }}
</div>
}

<app-confirm-modal #confirmModal></app-confirm-modal>
