<nav class="mb-4">
	<div class="d-flex justify-content-center gap-2">
		<button class="btn btn-success rounded-pill" routerLink="/new">Add new Note</button>
		<button class="btn btn-danger rounded-pill" (click)="deleteAll()">Delete All</button>
	</div>
</nav>

<div class="container">
	<div class="justify-content-center">
		@for (note of notes; track $index) {
		<div class="mb-3">
			<div class="card" [routerLink]="['/note', note.id]" style="cursor: pointer">
				<div class="card-body">
					<h5 class="card-title fw-bold">{{ note.title }}</h5>
				</div>
			</div>
		</div>
		}
	</div>
	@if(notificationMessage) {
	<div class="notification text-center">
		{{ notificationMessage }}
	</div>
	}
</div>

<app-confirm-modal #confirmModal></app-confirm-modal>
