form div {
  padding: 5px;
}

form button {
  margin-top: 10px;
  border-radius: 20px;
}

form button:disabled {
  background-color: rgb(222, 221, 221);
}

form label {
  font-weight: bold;
  text-align: left;
}
