<div class="container mt-4">
	<div class="card">
		<div class="card-header">
			<h2 class="mb-0">New Note</h2>
		</div>
		<div class="card-body">
			<form [formGroup]="addNoteForm" (ngSubmit)="addNote()">
				<div class="mb-3">
					<label for="note-title" class="form-label fw-bold">
						Title:
					</label>
					<input
						id="note-title"
						formControlName="title"
						class="form-control"
						[ngClass]="{
							'is-invalid':
								addNoteForm.get('title')?.invalid &&
								addNoteForm.get('title')?.touched
						}"
					/>
					<app-form-error
						[fieldName]="'Title'"
						[errors]="addNoteForm.get('title')!.errors"
					></app-form-error>
				</div>
				<div class="mb-3">
					<label for="note-description" class="form-label fw-bold">
						Description:
					</label>
					<textarea
						id="note-description"
						formControlName="description"
						class="form-control"
					></textarea>
					<app-form-error
						[fieldName]="'Description'"
						[errors]="addNoteForm.get('description')!.errors"
					></app-form-error>
				</div>
				<div class="d-flex justify-content-between">
					<button
						type="submit"
						class="btn btn-success rounded-pill"
						[disabled]="!addNoteForm.valid"
					>
						Add Note
					</button>
					<button
						class="btn btn-danger rounded-pill"
						type="button"
						(click)="cancelNote()"
					>
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
